.c-article {

    min-height: 275px;
    position: relative;

    &.has-Background-img {
	    background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;

	    &::before {
		    content: '';
		    position: absolute;
		    height: 100%;
		    background-color: 
		    rgba(0,0,0,0.4);
		    width: 100%;
		    z-index: 1;
		}
	}


	.c-excerpt {
	    padding: 20px;
	    max-width: 570px;
	    position: absolute;
	    bottom: 0;
	    z-index: 1;

	}

}

.c-section-compact {

	.c-article {

    	min-height: 183.5px;

	}

}