.c-article {

    min-height: 275px;
    position: relative;

    @include desktop {
        min-height: 443px;
    }

    @include laptop-large {
        min-height: 402px;
    }

    @include mobile {
      margin-bottom: 10px;
      width: 100%;
    }

    &.has-Background-img {
	    background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;

	    &::before {
		    content: '';
		    position: absolute;
		    height: 100%;
		    background-color: rgba(0,0,0,0.6);
		    width: 100%;
		    z-index: 1;
		    left:0;
		    right:0;
		}
	}


	.c-excerpt {
	    padding: 20px;
	    max-width: 570px;
	    position: absolute;
	    bottom: 0;
	    z-index: 1;

	}

	&.c-article-withExcerpt {

		.c-excerpt {
		    padding: 11px;
		    background-color: palette(mono, white);
		    width: 200px;
		    right: 0;

		    p{

			    margin-bottom: 0;
			    font-size: 12px;
			    line-height: 17px;
			    font-family: "Hind";
		    }

		}

	}

}

.compact {

	.c-article {

    	min-height: 183.5px;

      @include desktop {
          min-height: 295.5px;
      }

      @include laptop-large {
          min-height: 268px;
      }

      @include mobile {
          min-height: 275px;
      }

	}

}

.c-post-meta-single {

    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 14px;

    .c-post-publish-date {

	    text-align: right;
	    max-width: 136px;
	    line-height: 23px;

      @include mobile {
        line-height: 15px;
        font-size: 11px;
      }

	}
}

.c-post-detail article {
	text-align: justify;
  font-family: $secondary-font;

  @include mobile {
    margin-bottom: 30px;
  }

}

.c-post-nav {

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    .c-button {

	    width: 330px;
	    overflow: hidden;
	    text-overflow: ellipsis;

      @include mobile {
        font-size: 15px;
      }

	    span {

	    	display: block;
			color: palette(blue, base);
			text-transform: uppercase;

	    	&.label {

				overflow: hidden;
				text-overflow: ellipsis;
        width: 330px;
				white-space: nowrap;
				color: palette(red, base);

          @include mobile {
            width: 150px;
          }

	    	}


	    }

	    &.btn-prev span {
	    	text-align: left;
	    }

    	&.btn-next span {
    		text-align: right;
    	}


	}

}
