.c-section-aside {

    display: flex;
    flex-direction: column;

	.has-background-blue-base {
		.c-side-regular {
			color: palette(yellow, base);
		}
	}

	.has-background-red-base {
		.c-side-regular {
			color: palette(blue, light);
		}
	}

	.has-background-yellow-base {
		.c-side-regular {
			color: palette(green, dark);
		}
	}

}