.c-social-media {
	text-align: right;
	li {

		display:inline;

		&:last-child {
			a {
				padding-right: 0;
			}
		}

		a{
			padding: 0 10px;
			font-size: 15px;

			@include mobile {
				padding: 0px 4px;
				font-size: 13px;
			}

		}

	}

}
