// ----------------------------------------------
// IMAGES
// ----------------------------------------------

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.ad-banner{
	height: 183.5px;
}